.questionContainer {
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 20px;
}

.questionContainer p {
  padding: 10px;
}

.questionContainer *:not( :last-child ) {
  margin-bottom: 10px;
}

.category {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.question {
  font-size: 1.4rem;
  text-align: center;
}
