.question-box {
  display: flex;
  justify-content: space-between;
  padding: 3vmin;
}

.question-box .question-class {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.question-box .answer-class {
  display: flex;
  flex-direction: column;
  width: 49%;
}
