.timer-controll {
  align-items: center;
  background-color: rgb(199, 199, 199);
  border-radius: 50%;
  border: grey 3px solid;
  color: black;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
  font-weight: 900;
  font-size: 25px;
}
