:root {

  --roboto: 'roboto';

  --poiret: 'Poiret One';

  --orange: #ffbe00;

  --rock: 'Rock Salt';

  --special: 'Special Elite';
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
  color: rgb(7, 71, 7);
  width: 40vw;
}

.answer-button {
  background-color: rgb(253, 244, 224);
  border: 3px solid var(--orange);
  border-radius: 3px;
  color: rgb(37, 10, 112);
  width: 30vw;
}

.wrong-answer-0 {
  background-color: rgb(247, 72, 28);
  border: 3px solid red;
  color: white;
  width: 30vw;
}

.wrong-answer-1 {
  background-color: rgb(247, 72, 28);
  border: 3px solid red;
  color: white;
  width: 30vw;
}

.wrong-answer-2 {
  background-color: rgb(247, 72, 28);
  border: 3px solid red;
  color: white;
  width: 30vw;
}

.btn-next {
  display: none;
}

.container-trivia {
  align-items: center;
  background-color: var(--orange);
  display: flex;
  height: 100vh;
  justify-content: center;
}

.box-trivia {
  align-items: center;
  background-color: rgb(248, 248, 248);
  border: 2px solid rgb(222, 228, 230);
  border-radius: 8px;
  box-shadow: 0 2px 25px 2px rgb(214, 217, 218);
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: center;
  padding: 10%;
  transition: 350ms;
  width: 70%;
}

.player-info-container {
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
}

.header {
  display: flex;
  padding: 5% 10%;
}

.header-logo {
  border: 4px solid rgb(158, 158, 199);
  border-radius: 50%;
  box-shadow: 2px 3px 10px 2px lightgrey;
  height: 50px;
  margin: 0 20px;
  width: 50px;
}

.flex-column-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.timer {
  align-items: center;
  background-color: rgb(240, 237, 231);
  border: 2px solid red;
  border-radius: 50%;
  color: rgb(92, 60, 60);
  display: flex;
  font-weight: 700;
  height: 30px;
  justify-content: center;
  padding: 5px;
  width: 30px;
}

.padding-10 {
  padding: 10px;
}

.margin-10 {
  margin: 10px;
}

.border {
  border: 1px solid;
}

.box-shadow {
  box-shadow: 1px 2px 10px 3px lightgray;
}

.border-radius {
  border-radius: 8px;
}

.right-arrow {
  align-self: center;
  justify-self: center;
  margin: 3px;
  width: 20%;
}

.rock-font {
  font-family: var(--rock);
}

.special-font {
  font-family: var(--special);
}

.roboto-font {
  font-family: var(--roboto);
}

.font-18 {
  font-size: 18px;
}

.question-box {
  background-color: rgb(242, 247, 235);
  border: 3px dashed var(--orange);
  border-radius: 8px;
  color: rgb(82, 79, 79);
  margin: 15px;
  padding: 15px;
}

.spacing {
  letter-spacing: 3px;
}
