.loginForm {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.loginForm form {
	align-items: center;
	border: solid 1px rgb(148, 137, 137);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
	width: 200px;
}

.loginForm form label {
	padding: 5px;
}
