.App {
  text-align: center;
}

body {
  background-color: black;
  color: white;
}

a {
  color: white;
  margin-top: 5px;
  text-decoration: none;
}

.login-container {
  align-items: center;
  background-color: rgb(66, 66, 66);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 180px;
  margin: 200px auto;
  padding: 30px;
  width: 300px;
}

.login-button {
  width: 185px;
}

.settings-icon {
  width: 30px;
}

label {
  display: flex;
  flex-direction: column;
}

.game-container {
  align-items: center;
  background-color: rgb(66, 66, 66);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 200px auto;
  padding: 30px;
  width: 60%;
}

.settings-container {
  align-items: center;
  background-color: rgb(66, 66, 66);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 220px;
  margin: 200px auto;
  padding: 30px;
  width: 300px;
}
