.App {
  text-align: center;
}

body {
  background-color: black;
}

.login-container {
  align-items: center;
  background-color: rgb(66, 66, 66);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 170px;
  margin: 200px auto;
  padding: 30px;
  width: 300px;
}

.login-button {
  width: 185px;
}
