* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, .ranking {
  text-align: center;
}

.buttonCorrect {
  border: 3px solid rgb(6, 240, 15);
}

.buttonFalse {
  border: 3px solid red;
}
