*, *:after, *:before {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  border: 0;
  font-family: Roboto , sans-serif;
  font-size: 100%;
  line-height: 1;
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  justify-content: center;
}

.logo {
  width: 100%;
}

button {
  font-size: 0.9em;
  font-weight: 600;
  padding: 6px;
}

label {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 2px;
}

label input {
  margin-left: 2px;
}

.login {
  align-self: center;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin-top: 1%;
  max-width: 300px;
  padding: 1%;
  width: 100%;
}

.login .logo {
  margin-bottom: 2%;
  width: 100%;
}

.login label {
  font-size: 1em;
  margin-bottom: 1%;
  margin-top: 1%;
}

.login label input {
  font-size: 1em;
  padding: 1%;
  width: 80%;
}

.login .control-group {
  display: flex;
  margin-top: 2%;
  width: 100%;
}

.login .control-group button {
  align-self: center;
  margin: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 100%;
}

.main-logo {
  align-self: center;
  max-width: 120px;
}

header {
  align-items: center;
  display: flex;
  font-size: 1em;
  height: 60px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
}

header .header-player {
  display: flex;
  height: 80%;
}

header .header-player .header-player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
}

header .header-score {
  font-size: 1.2em;
  margin-right: 4px;
}

.header-player-avatar {
  align-self: center;
  height: 80%;
  margin-right: 4px;
}

.header-player-name {
  align-self: center;
  font-size: 1.1em;
  padding: 2px;
}

.header-player-email {
  align-self: center;
  color: #3f3f3f;
  font-size: 0.6em;
  padding: 2px;
}

.header-score-label {
  align-self: center;
  color: #252525;
  font-size: 1em;
  padding: 2px;
}

.header-score-value {
  font-size: 1.1em;
  margin-right: 2px;
  padding: 4px;
}

.game-match {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  max-width: 800px;
  padding: 4px;
  width: 100%;
}

.game-match-time {
  align-items: center;
  display: flex;
  font-size: 2vmax;
  justify-content: space-between;
  padding: 4px;
}

.game-match-clock-img {
  align-self: center;
  width: 28px;
}

.game-match-clock-display {
  color: #e60000;
  font-size: 3vmax;
  font-weight: 500;
  margin-left: 8px;
}

.game-footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.game-round {
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  padding: 16px;
}

.game-round-category {
  color: #0d530d;
  display: flex;
  font-size: 1.1vmax;
  font-weight: 400;
  padding: 4px;
}

.game-round-category-type {
  color: #0a690a;
  margin-left: 4px;
}

.game-feedback {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  max-width: 600px;
  width: 100%;
}

.game-feedback-text {
  color: #056612;
  font-size: 1.2em;
  padding: 10px;
}

.game-feedback-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  padding: 4px;
}

.game-feedback-score-item {
  color: #252525;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.game-feedback-score-item span {
  padding: 2px;
}

.game-footer-feedback {
  display: flex;
  justify-content: center;
}

.game-round-question {
  margin-top: 6px;
  padding: 4px;
}

.game-answer-list {
  align-content: center;
  display: flex;
  font-size: 1vmax;
  justify-content: space-around;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 10px;
  padding: 8px;
}

.game-answer {
  background-color: #ffd622;
  border: 3px solid #ffd622;
  border-radius: 2px;
  color: black;
  font-size: 1.2vmax;
  margin: 4px;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
}

.game-answer:hover {
  border: 3px solid rgba(0, 0, 0, 0.041);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24) , 0 4px 6px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.game-answer:focus {
  outline: 0;
}

.game-answer-done {
  background-color: white;
  border-radius: 2px;
  font-size: 1.2vmax;
  margin: 4px;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
}

.game-answer-done:hover {
  cursor: default;
}

.game-answer-done:focus {
  outline: 0;
}

.game-answer-unselected {
  color: black;
  opacity: 0.4;
}

.button-base {
  font-size: 1vmax;
  margin: 2px;
  min-width: 160px;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
}

.button-base:hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24) , 0 4px 6px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.button-base:focus {
  outline: 0;
}

.blinkme {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {

  50% {
    opacity: 0.5;
  }
}

@keyframes blinker {

  50% {
    opacity: 0.5;
  }
}

.semi-hidden {
  opacity: 0.2;
}

.game-ranking {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  max-width: 800px;
  padding: 4px;
  width: 100%;
}

.game-ranking-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
}

.game-ranking-list-item {
  align-items: center;
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  min-width: 240px;
  padding: 6px;
}

.game-ranking-list-item-gravatar {
  height: 20px;
}
