.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

body {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
  border-radius: 15px;
}

.incorrect-answers {
  border: 3px solid rgb(255, 0, 0);
  border-radius: 15px;
}

.next-btn-visible {
  visibility: visible;
}

.next-btn-visible-hidden {
  visibility: hidden;
}
