body {
  display: flex;
}

form {
  color: white;
  text-align: center;
}

.selects {
  align-self: center;
}

form select {
  border: solid 1px rgb(148, 137, 137);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin: 0 1rem;
  padding: 0.3rem 0.8rem;
  align-content: flex-end;
}

form label {
  display: block;
  margin: 0.8rem;
  font-family: 'Gloria Hallelujah', cursive;
}

h2 {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0;
}